<% include layoutTop %>
    <style type="text/css">
      
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
      
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 900px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      a#go-top {
        background:#E6E6E6;
        width:50px;
        height:25px;
        text-align:center;
        text-decoration:none;
        line-height:25px;
        color:#999;
      }
      a#go-top:hover {
        background:#CCC;
        color:#333;
      }
    </style>
  </head>

  <body>
    
    <div class="navbar navbar-fixed-top" style="background: white;">
      <div class="container-narrow">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#"><i class="fui-cmd" style="line-height: 15px;"></i> Home</a></li>
          <li><a href="#"><i class="fui-list" style="line-height: 15px;"></i> Category</a>
          <li><a href="#"><i class="fui-user" style="line-height: 15px;"></i> About</a></li>
        </ul>
        <h3 class="muted" style="line-height: 74px;"><%= title %></h3>
      </div>
    </div>
    <div style="height: 40px"></div>
    <div class="container-narrow">
      <hr />

      <div class="row-fluid">
        <div class="span8">
          <div class="span12">
            <h1>Super awesome marketing speak!</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <a class="btn btn-info" href="#">Sign up today</a>
            </div>
          </div> 
        </div>
        <div class="span4">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
          <div id="myCanvasContainer">
            <canvas width="300" height="300" id="myCanvas">
              <p>Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>
          </div>
          <div id="tags">
            <ul>
              <li><a href="http://www.google.com" target="_blank">Google</a></li>
              <li><a href="/fish">Fish</a></li>
              <li><a href="/chips">Chips</a></li>
              <li><a href="/salt">Salt</a></li>
              <li><a href="/vinegar">Vinegar</a></li>
            </ul>
          </div>
        </div>
      </div>

      <hr />

<% include layoutBottom %>