		<div class="footer">
        	<p>&copy; Dhc</p>
      	</div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/go-top.js"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="excanvas.compiled.js"></script><![endif]-->
    <script type="text/javascript" src="js/jquery.tagcanvas.min.js"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
    (new GoTop()).init({
      pageWidth   :900,
      nodeId      :'go-top',
      nodeWidth   :50,
      distanceToBottom  :125,
      distanceToPage    :30,
      hideRegionHeight  :130,
      text      :'<i class="icon-arrow-up"></i>'
    });
    /* ]]> */
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        if(!$('#myCanvas').tagcanvas({
          textColour: '#00f',
          textHeight: 20,
          reverse: true,
          depth: 0.8,
          maxSpeed: 0.05
        },'tags')) {
          // something went wrong, hide the canvas container
          $('#myCanvasContainer').hide();
        }
      });
    </script>
  </body>
</html>