		<div class="footer">
        	<p>&copy; Dhc</p>
      	</div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.staticfile.org/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="js/go-top.js"></script>
    <script>
    /* <![CDATA[ */
    (new GoTop()).init({
      pageWidth   :900,
      nodeId      :'go-top',
      nodeWidth   :50,
      distanceToBottom  :125,
      distanceToPage    :30,
      hideRegionHeight  :130,
      text      :'<i class="icon-arrow-up"></i>'
    });
    /* ]]> */
    </script>
  </body>
</html>